body{
	background-color:lavenderBlush;
}

#Header{
	font-family: comic sans ms;
	background-color: lightGreen;
	color: black;
	text-align: center;
	width: 50%;
	border-left-style:solid;
	border-right-style:solid;
	border-top-style:solid;
	border-bottom-style:solid;
    margin: 0 auto;
	
	
}

#navigation{
	text-align: center;
	font-size: 18px;
	color: blue;
	
}

#navigation{
	margin: 20px;
	display: inline;
	text-align: center;
}

#content{
	width: 70%;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	text-align: center;
	font-family: arial;
	font-size: 20px;
	background-color:lightGreen;
	color:black;
	margin: 0 auto;
}

.review{
	background-color:LightGreen;
	text-align: left;
	margin:50px;
	border-style:solid;
	border-style:white;
	width:50%;
}	

.news{
	background-color:lightsalmon;
	
	margin:50px;
	border-style:solid;
	border-style:white;
}


	
nav ul {
	list-style-type:none;
}

nav ul li{
	float:left;
	width:400px;
	text-align:center;
}

nav ul li a {
	display: block;
	padding: 5px;
}

nav ul li a:hover{
	background-color: black;
	color:white;
}



















